[submodule "data/src/TensorflowTTS"]
	path = data/src/TensorflowTTS
	url = https://git.update.sh/tts/TensorflowTTS.git
	branch = r0.7
[submodule "data/src/glow-tts"]
	path = data/src/glow-tts
	url = https://git.update.sh/tts/glow-tts.git
[submodule "data/src/g2pK"]
	path = data/src/g2pK
	url = https://git.update.sh/tts/g2pK.git
