[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
konlpy = "*"
jamo = "*"
nltk = "*"
python-mecab-ko = {version = "*", platform_system = "!= 'Windows'"}
mecab-python = {file = "https://github.com/Pusnow/mecab-python-msvc/releases/download/mecab_python-0.996_ko_0.9.2_msvc-3/mecab_python-0.996_ko_0.9.2_msvc-cp38-cp38-win_amd64.whl", platform_system = "== 'Windows'"}
onnxruntime = "*"
TTS = {editable = true, path = "./data/src/TTS"}
g2pK = {editable = true, path = "./data/src/g2pK"}
gdown = "*"
inflect = "*"
jieba = "*"
librosa = "==0.8.0"
matplotlib = "*"
numpy = "==1.18.5"
pandas = "*"
pypinyin = "*"
pysbd = "*"
scipy = ">=0.19.0"
torch = ">=1.7"
tqdm = "*"
numba = "==0.52"
umap-learn = "==0.4.6"
unidecode = "==0.4.20"
coqpit = "*"
Flask = "*"
Cython = "*"
PyYAML = "*"
SoundFile = "*"
tensorboardX = "*"
pyinstaller = "*"

[dev-packages]

[scripts]
build-server = """
pyinstaller --noconfirm --workpath ./build/server --onefile \
--hidden-import sklearn.utils._weight_vector \
--hidden-import sklearn.utils._typedefs \
--hidden-import sklearn.neighbors._partition_nodes \
--collect-data librosa \
--collect-data jamo \
--collect-data konlpy \
--collect-data g2pk \
--collect-all TTS \
--add-data "./data/src/flask/templates;templates" \
--add-data "./data/src/flask/static;static" \
data/src/flask/server.py
"""
build-convert-hifigan-onnx = """
pyinstaller --noconfirm --workpath ./build/convert_hifigan_onnx --onefile \
--hidden-import sklearn.utils._weight_vector \
--hidden-import sklearn.utils._typedefs \
--hidden-import sklearn.neighbors._partition_nodes \
--collect-data librosa \
--collect-all TTS \
data/src/TTS/TTS/bin/convert_hifigan_onnx.py
"""
server = "python -u data/src/flask/server.py"

[requires]
python_version = "3.8"
