<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCE-TTS: 텍스트 읽기</title>
    <link rel="stylesheet" href="/static/mvp.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="page-header">
        <nav>
            <a href="/">SCE-TTS</a>
            <ul>
                <li><a href="/tts-server/text-inference">텍스트 읽기</a></li>
                <li><a href="/tts-server/oc-overlay">Open Captions Overlay 연동</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <header>
                <h1>텍스트 읽기</h1>
                <p>입력한 텍스트를 음성으로 합성하여 재생합니다.</p>
            </header>
            <textarea name="text" id="text">다음의 내용은 사이언스온에 2014년 10월 6일 최명규 서울대 생명과학부 박사후연구원님께서 기고한 글입니다.
제목은 잠자는 1mm 꼬마선충, 꿈 이라도 꾸는 걸까? 입니다.

잠의 생물학

잠을 자는 동안 신경들이 제각기 활성화하는 것을 보면, 이 현상은 예쁜꼬마선충에게 일종의 꿈이 아닐까 하는 상상을 하게 됩니다.
꿈은 프로이트 이후에 무의식과 욕망의 발현이라고 여겨지고 있지만, 아직까지 많은 부분을 모르고 있습니다.
인간의 다채로운 꿈만큼 복잡치 않더라도, 선충이 만약 꿈을 꾼다면 혹시 단순히 잠과는 구별되는 또 다른 기능이 있는 것은 아닐까요?

위의 동영상은 팝아티스트로 유명한 앤디 워홀의 영화 [잠]입니다.
당시 연인이던 장 지오르노가 자는 모습을 무려 5시간 20분 동안 찍은 영상입니다.
10분 분량으로 편집되어 올라온 영상을 보는 것만으로, 저도 주인공처럼 잠에 빠져들 것 같았습니다.
과연 이 영화를 처음부터 끝까지 볼 수 있는 사람이 몇 명이나 있을지 궁금해지기도 합니다.

앤디 워홀 본인은 자기가 사랑하는 사람의 자는 모습을 몇 시간 동안 지켜볼 수 있지 않았을까 생각이 듭니다.
정해진 각본 없이 인간의 본질적인 부분을 그대로 보여주고자 한 이 영화는, 사회 유명 인사들과 자본주의의 이미지를 활용한 그의 실버스크린 작품들과 비교해 보면 상당히 달라 보입니다.
하지만 다른 이들이 생각하지 않았던 일들을 했다는 점에서 그의 회화와 영화에는 유사한 점이 있습니다.
비단 앤디 워홀뿐 아니라 실험적인 아이디어가 창의적인 결과로 이어지는 순간을 생각해보면, 예술과 과학 사이에는 많은 공통점이 있다는 것을 알 수 있습니다.

오늘 소개해드릴 논문들은 카메라 렌즈를 통해 연인의 자는 모습을 촬영했던 앤디 워홀처럼, 현미경 렌즈 너머로 예쁜꼬마선충의 자는 모습을 관찰했던 사람들의 이야기입니다.

잠의 생물학적 정의

2008년 [네이처]에 ‘Lethargus is a Caenorhabdaitis elegans sleep-like state’라는 제목의 논문이 발표되었습니다.
이 연구는 논문의 제1저자이면서 교신저자인 데이빗 레이즌 박사가 진행하였습니다.
흔하게 쓰지 않는 ‘lethargus’란 단어는 우리말로 혼수 상태나 무기력한 상태를 뜻합니다.
예쁜꼬마선충은 알에서 깨어나 어른이 되기까지 허물을 벗는 과정(탈피, molting)을 네 번 거치는데, 허물을 벗는 시기가 다가오면 선충은 움직이지 않습니다.
제목에 쓰인 ‘lethargus’는 구체적으로 탈피 과정에 앞서서 나타나는, 선충이 가만히 있는 상태를 말합니다(그림 1).
선충이 휴면 상태에 있는 것이 생물학적으로 수면과 유사한 상태(sleep-like behavior)라는 것이 이 논문의 주제입니다.

허물을 벗는 동안 가만히 있는 것이 어떻게 잠자는 것과 비슷하다고 주장할 수 있는 것일까요.
사실 이 논문이 나오기 전까지 선충에게서 수면이 보존되어 있다고 생각하는 사람은 거의 없었습니다.
수면이란 보통 24시간을 주기로 생활하는 생명체가 갖고 있는 일주기성 행동(circadian rhythm)의 대표적인 행동입니다.
선충은 땅속에서 살고 있으니 24시간의 주기나 이에 따른 수면 행위를 굳이 할 필요가 없다고 생각했던 것이죠.
게다가 선충의 수명은 불과 3주 정도밖에 안 되기 때문에 재빨리 어른이 되어 자손을 번식해도 모자랄 판입니다.
그래서인지 탈피 과정 단계에서 일어나는 휴면 상태는 약 3시간 정도밖에 안 됩니다.

선충의 휴면 상태가 잠과 유사한 상태라고 주장하려면, 먼저 잠의 정의를 살펴봐야 하겠습니다.
생물학적으로 잠은 다음과 같은 특성을 가집니다. 첫 번째로 감각 신경의 반응이 평소보다 무뎌집니다.
두 번째로는 자는 동안은 활동성이 줄어들어 있지만, 강한 자극이 오면 비교적 빠르게 다시 깨어 있는 상태로 돌아갈 수 있습니다.
약물에 의한 마취와 구별되는 특징이라고 할 수 있습니다. 세 번째로는 일정한 상태를 유지하려고 하는 항상성(homeostasis)이 있다는 점입니다.
네 번째 특징으로 많은 동물에서 수면은 24시간의 일주기와 밀접하게 관련되어 있습니다.

우리의 잠과 얼마나 비슷할까?

결론을 먼저 말씀드리면 예쁜꼬마선충의 휴면 상태는 잠의 특징 중 24시간 일주기를 제외한 모든 특성(무뎌진 감각 신경, 빠르게 깨어날 수 있는 점, 항상성 유지)을 갖고 있습니다.
선충의 잠이 어떤 성질을 갖고 있는지 알아내기 위해 먼저 연구자들은 휴면 상태에 있는 선충을 깨워보았습니다.
이 실험은 우리가 누군가를 깨우기 위해서 하는 일을 생각해보면 쉽게 상상할 수 있습니다.
잘 자고 있는 선충의 집을 흔든다거나, 선충이 싫어 할 냄새 나는 물질을 뿌린 것입니다.

선충에서 물리적 자극이나 악취와 같이 위험한 자극은 대부분 ASH라는 감각 신경을 통해 인지됩니다.
특히 옥탄올(1-octanol)에 대한 회피 반응이 감각 신경 세포인 ASH를 통해 일어나는 현상은 잘 알려져 있습니다.
옥탄올은 알코올의 일종으로 일반적으로는 접하기 쉽지 않은 물질입니다. 저도 옥탄올을 이용한 회피 반응 실험을 수행한 적이 있는데, 선충보다 제가 먼저 도망가고 싶을 정도로 안 좋은 자극이었습니다.

잠을 자고 있지 않은 상태인 유충(L4)와 성충 단계에서 옥탄올 자극을 주면 선충은 3초 안에 회피 반응을 나타냅니다(그림 2).
이에 반해 탈피 중인 L3와 탈피 중인 L4 단계에서는 반응 속도가 10초 넘게 걸릴 정도로 느려집니다.
즉, 선충의 휴면 상태 동안에는 감각이 무뎌져 있다는 것을 뜻합니다(잠의 첫 번째 특징).
인간에 비유하자면, 눈을 뜨고 자더라도 바깥 환경을 볼 수 없는, 혹은 누군가가 업어가도 모르는 상황과 비슷하다고 할 수 있습니다.
그림 3은 이 논문에서 가장 중요한 데이터로 많은 시사점을 갖고 있습니다. 그림 3의 x축의 기준선(baseline)이 있는 원점이 바로 처음 옥탄올 반응을 조사한 시점입니다.
이 부분만 놓고 보면 그림 2와 동일한 실험입니다.

그 시점에서 2분 뒤에 다시 옥탄올에 대한 반응을 살펴보면, 휴면 상태가 아닌 선충들의 반응(검정색 선)과 휴면 상태였던 선충들의 반응(빨간색, 파란색, 초록색 선들)이 거의 차이가 없어지는 것을 알 수 있습니다.
즉, 자극을 통해 빠르게 휴면 상태에서 벗어나도록 만드는 것이 가능하다는 뜻입니다(잠의 두 번째 특징).

앞서 말씀드렸다시피 잠의 또 다른 중요한 특징은 항상성입니다.
쉽게 말하면, 잠이 부족할수록 더 길고 깊은 잠을 자려고 하는 성향이 있다는 것입니다.
휴면 상태에 있는 선충이 만약 수면 행위와 유사하다면, 수면을 지속적으로 방해했을 때 무언가 그 수면 자체에 변화가 있어야 할 것입니다.
연구자들은 이를 위해 단순히 한번 깨우는 것이 아닌, 지속적으로 수면을 방해해보았습니다.
20분, 30분 내내 잠자는 선충의 꼬리를 건드려서 쉴 수 없도록 한 것이지요.
선충에게 꽤나 가혹했던 이 실험은 30분 동안 연구자가 내내 벌레를 툭툭 건드려야 했던, 어찌 보면 연구자 자신에게도 가혹했던 실험입니다.

그림 3의 파란 선은 수면 박탈을 하지 않은 선충들이고, 초록색과 빨간 색은 각각 20분, 30분 동안 수면을 박탈한 선충들입니다.
최초 옥탄올 반응 이후 4분과 6분에서 나타난 옥탄올 반응을 살펴보면 30분 동안 잠을 자지 못한 경우의 옥탄올 반응 속도(빨간 색 선)가 다른 경우에 비해 훨씬 느려진 것을 알 수 있습니다.
선충은 총 자는 시간은 약 세 시간 정도인데, 초기 30분 동안 제대로 자지 못한 선충들은 남은 시간동안 더 깊은 잠에 빠져든다는 것을 의미합니다.
또한 연구자들은 수면이 방해 받은 경우에 더 오랫동안 수면 상태가 유지된다는 것을 밝혀내었습니다.
피곤한 선충일수록 훨씬 단잠을 자게 된다는 것입니다.</textarea>
        </section>
        <section class="form">
            <div class="form-group">
                <label>Enter 입력시 음성 재생: </label>
                <input type="checkbox" id="enter" name="enter" value="ON">
            </div>

            <div class="form-group">
                <label>볼륨: </label>
                <input type="range" id="volume" name="volume" min="0" max="10" value="5">
            </div>

            <div class="form-group">
                <button id="infer" class="button-small">음성 재생</button>
                <button id="stop" class="button-small">정지</button>
            </div>
        </section>
        <section>
            <div id="result"></div>
        </section>
    </main>
    <script>
        function sleep(time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }

        const textDOM = document.getElementById('text');
        const resultDOM = document.getElementById('result');
        const inferDOM = document.getElementById('infer');
        const stopDOM = document.getElementById('stop');
        const modelDOM = document.getElementById('model');
        const volumeDOM = document.getElementById('volume');
        const enterDOM = document.querySelector('input[name="enter"]');

        var audio = null;
        var audio_next = null;
        var voice_queue = [];

        function play_voice() {
            if (audio_next != null) {
                audio = audio_next;
                audio_next = null;
                audio.addEventListener('ended', play_voice);
                sleep(300).then(() => {
                    amplifyMedia(audio, volumeDOM.value / 5.0);
                    audio.play();
                });
            }
            if (voice_queue.length == 0) {
                return;
            }
            const text = voice_queue[0];
            voice_queue.shift();

            audio_next = new Audio('/tts-server/api/infer-glowtts?text=' + encodeURI(text));
            audio_next.type = 'audio/wav';
            audio_next.load();
            if (audio == null) {
                play_voice();
            }
        }

        function clear_voice() {
            voice_queue = [];
            if (audio != null) {
                audio.removeEventListener('ended', play_voice);
                audio.pause();
                audio = null;
                audio_next = null;
            }
        }

        function infer() {
            const text = textDOM.value;
            fetch('/tts-server/api/process-text', {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    text: text
                })
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (texts) {
                    resultDOM.innerHTML = "";
                    for (let i = 0; i < texts.length; i++) {
                        const line = texts[i];
                        resultDOM.innerHTML += "<p>" + line + "</p>";
                    }
                    clear_voice();
                    voice_queue = texts;
                    play_voice();
                });
        };


        function amplifyMedia(audio, multiplier) {
            var context = new (window.AudioContext || window.webkitAudioContext);
            var result = {
                context: context,
                source: context.createMediaElementSource(audio),
                gain: context.createGain(),
                amplify: function (multiplier) { result.gain.gain.value = multiplier; },
                getAmpLevel: function () { return result.gain.gain.value; }
            };
            result.source.connect(result.gain);
            result.gain.connect(context.destination);
            result.amplify(multiplier);
            return result;
        }

        inferDOM.onclick = infer;
        stopDOM.onclick = clear_voice;
        textDOM.onkeypress = function (e) {
            if (e.keyCode == 13 && enterDOM.checked) {
                infer();
                textDOM.value = '';
                e.preventDefault();
            }
        };
    </script>
</body>

</html>